---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import PostCard from '@/components/PostCard'
import ArrowLeft from '@/components/icons/ArrowLeft'
import ArrowRight from '@/components/icons/ArrowRight'
interface Props {
  posts: CollectionEntry<'blog'>[]
}
const { posts }: Props = Astro.props
---

<!-- thanks to Embla Carousel -->
<section class="embla">
  <section class="embla__viewport">
    <section class="embla__container">
      {
        posts.map(async (post) => {
          const { remarkPluginFrontmatter } = await post.render()

          return (
            <section class="embla__slide">
              <section class="embla__slide__number w-[450px]">
                <PostCard
                  id={post.id}
                  data={post.data}
                  slug={post.slug}
                  withoutTags={true}
                  readTime={remarkPluginFrontmatter.minutesRead}
                />
              </section>
            </section>
          )
        })
      }
    </section>
  </section>

  <!-- carousel controllers -->
  <section class="embla__controls">
    <section class="embla__buttons">
      <button class="embla__button embla__button--prev" type="button">
        <ArrowLeft />
      </button>

      <button class="embla__button embla__button--next" type="button">
        <ArrowRight />
      </button>
    </section>
  </section>
</section>

<script src="./ts/index"></script>
