---
import { languages } from '@/i18n/ui'
import Language from '@/components/icons/Language'
---

<div class="relative">
  <!-- Hidden checkbox to toggle the dropdown -->
  <input type="checkbox" id="dropdown-toggle" class="peer hidden" />

  <label for="dropdown-toggle" class="cursor-pointer block">
    <Language />
  </label>

  <div
    class="w-36 absolute left-0 mt-1 border-gray-400 border dark:border-gray-600 rounded-xl overflow-hidden hidden peer-checked:block"
  >
    {
      Object.entries(languages).map(([lang, label]) => (
        // old codes
        // lang === 'en' ? (
        //   <a
        //     href={`/`}
        //     class="option cursor-pointer p-2 block hover:bg-gray-100 dark:hover:bg-gray-600 text-gray-900 dark:text-white"
        //   >
        //     <button>{label}</button>
        //   </a>
        // ) : (
        //   <a
        //     href={`/${lang}/`}
        //     class="option cursor-pointer p-2 block hover:bg-gray-100 dark:hover:bg-gray-600 text-gray-900 dark:text-white"
        //   >
        //     <button>{label}</button>
        //   </a>
        // ),

        // new codes
        <a
          href={lang === 'en' ? `/` : `/${lang}/`}
          class="option cursor-pointer p-2 block hover:bg-gray-100 dark:hover:bg-gray-600 text-gray-900 dark:text-white"
        >
          <button id="setLangBtn">{label}</button>
        </a>
      ))
    }
  </div>
</div>
